anyio @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/0c/36/3c/de83f6f0d02cc7a0320ef0052e2a119f333cfe9a4d3c64f48df7f8d685/anyio-3.6.2-py3-none-any.whl
appnope @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/19/30/3a/dea5c89f16beddf06b2e5292a26928e7ca03b790d0ae88215e0c8fb5b7/appnope-0.1.3-py2.py3-none-any.whl
argon2-cffi @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/05/8e/79/28f2b292b8981d9a051595a12fe5a6200cc8a4b05e4bc39397fdd64218/argon2_cffi-21.3.0-py3-none-any.whl
argon2-cffi-bindings @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/14/a9/46/6fb4fe0e30ad30374349c9108f5f87ad8efc3bf8517db9a87a92be2fd9/argon2_cffi_bindings-21.2.0-cp38-abi3-macosx_10_9_universal2.whl
asttokens @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/d6/52/44/1ca1a6c728b7c7344b965c4bfe1bc278ab7a1a2a4bfb97e6a21fe5d521/asttokens-2.2.1-py2.py3-none-any.whl
attrs @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/b9/be/54/b0e6347a5b526e41f45aea10a61b5240586c74ee17e1d53c827b4d7288/attrs-22.1.0-py2.py3-none-any.whl
backcall @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/fb/29/4f/82bf4440abab9ac911c9bce7a071841452e2457539cf29aec0cdb32bf1/backcall-0.2.0-py2.py3-none-any.whl
beautifulsoup4 @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/e0/aa/39/7b168d115afeea9a7de54a24de624233f50f1b5a3f67d2e650da99a476/beautifulsoup4-4.11.1-py3-none-any.whl
black @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/6c/86/9b/c31acacdc2cc2fbc5a347de1e1fef47eb491c3e2a2b638027a3558fc4d/black-22.10.0-cp310-cp310-macosx_11_0_arm64.whl
bleach @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/e1/f6/8e/c875d5b69b07f69475cb9d237a0fcb13a1059d0dabb34ac199af1af1a1/bleach-5.0.1-py3-none-any.whl
branca @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/96/2b/ea/e73d04c5ae10a8ee88dca9d67074b226535ebe378ed035ce5c776b4bef/branca-0.6.0-py3-none-any.whl
catadata==0.1.0
certifi @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/ab/60/ac/049f229ab671c6c210f7ca32646b322a0f308c39a527b50544153de57d/certifi-2022.9.24-py3-none-any.whl
cffi @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/4a/21/b5/d808fb4eb5824ba0b71ebdda249bb41198cd1498c9ee10e10aba89ae6b/cffi-1.15.1-cp310-cp310-macosx_11_0_arm64.whl
charset-normalizer @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/e5/e0/4b/1a8efda7c7e867cc898eee8167f0482e7d650dc2af571484014d4e962d/charset_normalizer-2.1.1-py3-none-any.whl
click @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/63/f3/4c/2270b95f4d37b9ea73cd401abe68b6e9ede30380533cd4e7118a8e3aa3/click-8.1.3-py3-none-any.whl
click-plugins @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/68/3c/22/d1afce20118b67990c0362604c4c6b0dac94208c21e87dedf1145aecae/click_plugins-1.1.1-py2.py3-none-any.whl
cligj @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/7f/dd/74/98cba123f8e5e395cd612419e9dd6bd63b6001ad4e3789ae2567501ce5/cligj-0.7.2-py3-none-any.whl
comm @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/f7/00/8a/b4d015ff03aaeea244b74c9e7bf1c5b6c5f7a2ee74c89e4a17e2a4fb3d/comm-0.1.1-py3-none-any.whl
dash @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/20/8e/34/69bfc0d7683bd50310be349dbcf62dbee7dcb200e91bc5af5299ed286f/dash-2.7.0-py3-none-any.whl
dash-bootstrap-components @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/32/4f/5d/3bed73fa5659cb8836c3433db3b88b33147e82a7552faaa0dc8aaebdeb/dash_bootstrap_components-1.2.1-py3-none-any.whl
dash-core-components @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/2e/cd/ee/0c277c81de54a2a852b95ea5285154f8e5adbdd8bc0c85c53cab6eebe4/dash_core_components-2.0.0-py3-none-any.whl
dash-html-components @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/1a/d9/02/b1f505f131573adb1842959efe2bb34cf2bcb25e5b20cbc986547c1b39/dash_html_components-2.0.0-py3-none-any.whl
dash-table @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/98/a6/92/341ed63c3f3ad4b273b07d03fa4b981e36df502cdc612488a32030a5db/dash_table-5.0.0-py3-none-any.whl
debugpy @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/5a/18/59/477d7deaea3a95c164797d93340a21a9a4aecf67b98b6907d9dc77295e/debugpy-1.6.4-py2.py3-none-any.whl
decorator @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/e7/34/b4/d4da5f5611ea34c830b51a6afe76aa0e51493309a0c0f176f5217b6960/decorator-5.1.1-py3-none-any.whl
defusedxml @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/63/7f/1e/b8b316188f0f0704ef8f0eaaad0d3c82dff4aa2495e4e3467479e4ce66/defusedxml-0.7.1-py2.py3-none-any.whl
entrypoints @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/15/89/41/13ff23013f003f094ddfbd2347d7275f294139b11a6762447ad83ce465/entrypoints-0.4-py3-none-any.whl
executing @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/be/9e/f8/5b229fc59420c705855e4d4b4c07bbc1a176b16ae17061321791bad46c/executing-1.2.0-py2.py3-none-any.whl
fastjsonschema @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/f0/ae/08/4cb5c3df025f7afa27e7678eda2cbfae7351d736fa629508f0fdd2ae09/fastjsonschema-2.16.2-py3-none-any.whl
feffery-antd-components @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/e5/38/36/760b3b664e4e9d5223f6458ff4ae27d7adfc336f2d057d10dcf0f0f7c7/feffery_antd_components-0.1.16-py3-none-any.whl
Fiona @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/03/98/b4/8748b11094b3d13216ac0d8f516b9822ad4f8bb3086870498e23ca0d43/Fiona-1.8.22.tar.gz
Flask @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/5b/85/e0/a957275f44e47e734a4ff2ae364494492ac28fb10e6f11d6bd2cc74624/Flask-2.2.2-py3-none-any.whl
folium @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/f1/a8/e8/502ae8486ee1a72643bcb2c956f295f3fcad77a1b1371d0d3d2f3d5371/folium-0.13.0-py2.py3-none-any.whl
geopandas @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/ae/86/e4/1ea80eccf894cfbe077e7a2e140d32cf2746da469659d6140994aace64/geopandas-0.12.1-py3-none-any.whl
gunicorn @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/9f/68/9f/f1166be9473b4fe2cc59c98fac616db1f94b18662b9055d1ac940374e3/gunicorn-20.1.0-py3-none-any.whl
idna @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/6c/c4/9a/4a40812e61d669fffc474987128ff48aab9be33cdddc5e5038bd96f4ac/idna-3.4-py3-none-any.whl
install @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/95/44/96/0d3a9cf339b5166c26af87baaf067e3f27ecb3be478abbfd48f6f1252c/install-1.3.5-py3-none-any.whl
ipykernel @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/cd/e5/ab/700c14f2f81692cd06755d08c28674f977dced8bf72f224a680599fc34/ipykernel-6.18.3-py3-none-any.whl
ipython @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/c4/3d/37/27f9704c81e469bc5e6ead52bff9c0863a450af3b863dce7b91fdb7dfd/ipython-8.7.0-py3-none-any.whl
ipython-genutils @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/97/bf/ed/aa7b05b63dff09df96889c84191a871fdd62bb7c058bb77b381344d2bf/ipython_genutils-0.2.0-py2.py3-none-any.whl
ipywidgets @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/b0/48/f5/901955358914a12bd07384569252ec55e32589978119fb177c37f14b9e/ipywidgets-8.0.2-py3-none-any.whl
itsdangerous @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/2e/15/8d/e1a5243416994d875e03f548c0c5af64a08970297056408d4e67e6bc28/itsdangerous-2.1.2-py3-none-any.whl
jedi @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/5f/96/ea/f62c6b7c2e9221b719ff45b49c1d3fe6457545569bdb298b2115438af5/jedi-0.18.2-py2.py3-none-any.whl
Jinja2 @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/49/36/ae/943f6cd852641f7249acddef711eb97d0c9ed91d7f435c798b6d7041ca/Jinja2-3.1.2-py3-none-any.whl
jsonschema @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/ef/e8/b0/de643fd12c134ba2b62ca897dc81e2d5611b9850b58f3679f807fdccf6/jsonschema-4.17.3-py3-none-any.whl
jupyter @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/dd/55/db/5fbb3d49f878a4e0ad87b4666553d6ea698e35b109de2b6beeb0acd16d/jupyter-1.0.0-py2.py3-none-any.whl
jupyter-console @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/da/8c/53/481ac6485f113a4c13a12711723e5941be67d107714ef321512cffa838/jupyter_console-6.4.4-py3-none-any.whl
jupyter-server @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/fd/19/19/ab11505bfc13984e34d62ad45fecb7799e87070ea46e1f32ac81870260/jupyter_server-1.23.3-py3-none-any.whl
jupyter_client @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/fe/ec/8f/579aeb71d8800e4a5937695f9e370dccf58edf43c919f08fb1dac5e2c3/jupyter_client-7.4.8-py3-none-any.whl
jupyter_core @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/28/e2/ff/8222ada87050f6cb7c97087eb4686cc24273949798d39bfeed49b7a715/jupyter_core-5.1.0-py3-none-any.whl
jupyterlab-pygments @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/d4/e6/05/8d8982e22f7b7c83e8cff9e69920376387ca4905d10ea9496a406d4182/jupyterlab_pygments-0.2.2-py2.py3-none-any.whl
jupyterlab-widgets @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/7a/5e/ec/58e129873a24d50ba71f60e77475fb29d291f7a42a2b74e765a92a1d73/jupyterlab_widgets-3.0.3-py3-none-any.whl
MarkupSafe @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/17/b2/ca/c418fbb258b15d02aff6db598c5169b95eb81935f5e653b73401ef4f6a/MarkupSafe-2.1.1-cp310-cp310-macosx_10_9_universal2.whl
matplotlib-inline @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/bc/07/f7/c44c5405a30fb00d6c79402498d2c5fa3347233bf2ee3366907a957175/matplotlib_inline-0.1.6-py3-none-any.whl
mistune @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/0f/7c/35/68891651fc18e56556c3171743057a57fb5ab790bcaf66828990717214/mistune-2.0.4-py2.py3-none-any.whl
munch @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/64/6a/3d/14fb14cbea57c1603bda47d95083dff8a9b2107ddbb6f61b4811056c57/munch-2.5.0-py2.py3-none-any.whl
mypy-extensions @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/2f/c6/09/3e1afdcb75322c65b786e63cd7e879b6be3db36dea78ca376db5483ae4/mypy_extensions-0.4.3-py2.py3-none-any.whl
nbclassic @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/bc/77/a8/0765f10a2cce712979417c012c321dd0dab48e6c8cf2e80319ceabd243/nbclassic-0.4.8-py3-none-any.whl
nbclient @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/d4/c4/76/1b86044652f24d90efc8660cede78b740ad5a4a776ff9d7c7b94ca20c2/nbclient-0.7.2-py3-none-any.whl
nbconvert @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/4b/c8/bc/0de8e4b456caa44828b19a1f84ed30b2187153688b310793559c6efb05/nbconvert-7.2.6-py3-none-any.whl
nbformat @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/39/e0/5e/23429910a1e0335388761f65b1fa33cb8c7822a33fbf3dda932acb3d48/nbformat-5.7.0-py3-none-any.whl
nest-asyncio @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/ad/e6/83/d9da365bdc5ad8006fcecfaaa4f162899cbd29f19438bf741d3f2faa6e/nest_asyncio-1.5.6-py3-none-any.whl
notebook @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/c4/fa/a7/87af4d46848dfc8ae1862fb3b8e87228b0415468b9ebb69ca4dd0de74b/notebook-6.5.2-py3-none-any.whl
notebook_shim @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/51/a6/6c/a556d083f8e39574aec6955eb8477873bb9e0e3f6be1671c8ae81f1551/notebook_shim-0.2.2-py3-none-any.whl
numpy @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/88/8d/4c/f11af487c41c20d7742fee7bb83ecc7205ffe067a638011235d75a8126/numpy-1.23.5-cp310-cp310-macosx_11_0_arm64.whl
packaging @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/d3/1f/90/3f2473250ebd055fe7f0856810677783949fc0d2e5f25bbb4dc00ad0a9/packaging-21.3-py3-none-any.whl
pandas @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/0a/c5/f4/f3270b18f6bddfc98d0587d1a836e53ecc0dfb96b96b3e8d798d3ddd43/pandas-1.5.2-cp310-cp310-macosx_11_0_arm64.whl
pandocfilters @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/ac/24/b2/c640c5e004e23e19857b8bff9651e954e369092471d58e9bedabeece77/pandocfilters-1.5.0-py2.py3-none-any.whl
parso @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/04/cf/93/db0ec6dfe01dd708f00c55e2af6f87b1c40a7d6db1cc6277e993e02ce9/parso-0.8.3-py2.py3-none-any.whl
pathspec @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/6b/16/77/1a41f2c8fe48fa05790cf1678ad486e290004ea71d32e9d3a00ea84b28/pathspec-0.10.2-py3-none-any.whl
pexpect @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/bc/0b/e1/fedd0f64915c9de2dd93ed6f45d2a3ac320f3f40f97c4826c98b730101/pexpect-4.8.0-py2.py3-none-any.whl
pickleshare @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/75/21/72/1a0f0aed0df5b89b08e37fa429335f3a9912304726945b3745e658c6db/pickleshare-0.7.5-py2.py3-none-any.whl
platformdirs @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/6b/2c/16/3486ab3e3cee040d4a644c494eb1606c05e26f2ec35fe892794e39161e/platformdirs-2.5.4-py3-none-any.whl
plotly @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/5a/35/20/1f3cc3200579560a2e5795cee6df4bf9c5768291335e86a08296c27e31/plotly-5.11.0-py2.py3-none-any.whl
prometheus-client @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/14/ca/44/d93836457657386f217470a4c15107c951914ac422bca6855cd13ad3c1/prometheus_client-0.15.0-py3-none-any.whl
prompt-toolkit @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/70/7a/69/dd4c8298302a5789915e3a5923b3a6301349bc6f6183c27472dfa275bf/prompt_toolkit-3.0.33-py3-none-any.whl
psutil @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/dc/7e/d0/1fe4e599aec9e41ed91851023221fb2b39b0f07bd18c567748b9023a01/psutil-5.9.4-cp38-abi3-macosx_11_0_arm64.whl
ptyprocess @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/aa/3c/ec/7269eb3c6edddfa5e263334c296eb83dca74d9250cfbabc37f7f4ba4be/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/3f/3a/24/0a545171a889b08c24fa379180cac85e1f4e00065002bc19eba65e0b9f/pure_eval-0.2.2-py3-none-any.whl
pycparser @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/08/b1/1b/4618699096207aa9eba9fa35118b2b6544fd1c9c2a79ea3601a3d325a0/pycparser-2.21-py2.py3-none-any.whl
Pygments @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/b5/d5/c4/6dbc728128a5cb37e5da9956d152c4eba518e3ff024956d0907394b234/Pygments-2.13.0-py3-none-any.whl
pyparsing @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/e1/09/c0/6a6df3ef412eb19fcda1b353ea54e3b48f9c518348fadd0967a962cbb6/pyparsing-3.0.9-py3-none-any.whl
pyproj @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/3f/15/be/b90924d1b6835af9ff8e2f033c148525843e5cf975e6163159a96b829f/pyproj-3.4.0-cp310-cp310-macosx_11_0_arm64.whl
pyrsistent @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/a7/63/be/52d24b89f09973e5c11ec922c90a987b4b3425d87937aba1ad50fadde8/pyrsistent-0.19.2-cp310-cp310-macosx_10_9_universal2.whl
python-dateutil @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/39/9b/3b/576da7c854551d780528d75132c98882925e44de0aecf8a31a4bea379c/python_dateutil-2.8.2-py2.py3-none-any.whl
pytz @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/91/9a/f6/b72ae074ae24e891efc3c97525bc886369624c4b320563fba1e54f05cd/pytz-2022.6-py2.py3-none-any.whl
PyYAML @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/b7/39/92/8bdbcdf8ebd1fea6988a1f3f061f52aaaf2fbb8ec3af7618aebca532b7/PyYAML-6.0-cp310-cp310-macosx_11_0_arm64.whl
pyzmq @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/5a/3d/58/e15924465a871239bb8736f0d9e6d688e9e81a9de407453426f12da91c/pyzmq-24.0.1-cp310-cp310-macosx_10_15_universal2.whl
qtconsole @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/d9/06/0f/5ca9211aaee7f907a8a8dea7b6e7fc5c046d82423f546c48da7ff59ede/qtconsole-5.4.0-py3-none-any.whl
QtPy @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/da/39/81/e0b6b3d772a22084be528c96fb94d2647f288341ccb0a80d2a101a33fd/QtPy-2.3.0-py3-none-any.whl
requests @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/14/1f/4d/1b93db6513b8ab38db841e4ce62691288ba549a5c1b6f3ca7274a1c9fd/requests-2.28.1-py3-none-any.whl
Send2Trash @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/8a/c3/f4/94f9ef351ef08b52f584aefd298f81d84b49d0df0032112459d77fb6e4/Send2Trash-1.8.0-py3-none-any.whl
Shapely @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/79/10/f3/00b72baed015746c051e8814e70f9ba1fd092003924f2f1db703e6a0ce/Shapely-1.8.5.post1-cp310-cp310-macosx_11_0_arm64.whl
six @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/89/b2/f8/fd92b6d5daa0f8889429b2fc67ec21eedc5cae5d531ee2853828ced6c7/six-1.16.0-py2.py3-none-any.whl
sniffio @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/c9/3f/3e/8e46c9457f352d5bba461491356dfede8138f565b9e1015719034b36a1/sniffio-1.3.0-py3-none-any.whl
soupsieve @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/9b/5a/a8/0949b7240493f355f5d574cbe0389102ac50a52583ec465be6d377cac7/soupsieve-2.3.2.post1-py3-none-any.whl
stack-data @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/d6/5e/e8/b715afddfa1b87dd881eac1afd40ea9f36710c895bf5f05e0c7f6b910c/stack_data-0.6.2-py3-none-any.whl
tenacity @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/72/b6/af/b87b523b7ec11c64f8667396d9335a921abf9c7b6afc064a9f5b00c363/tenacity-8.1.0-py3-none-any.whl
terminado @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/1f/61/8c/03221d36d87f5570e60dcbdbc786cba76c42d893b257b7381e35696223/terminado-0.17.1-py3-none-any.whl
tinycss2 @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/99/be/60/21803debc1f8f25a894213937052ced0d9ddfcaa6bafd1b5539e1dae7e/tinycss2-1.2.1-py3-none-any.whl
tomli @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/62/12/b6/6db9ebb9c8e1a6c5aa8a92ae73098d8119816b5e8507490916621bc305/tomli-2.0.1-py3-none-any.whl
tornado @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/41/73/11/1c4639b835caa5b4726265c6cc3315e49cb1acf68640236e99d9300be4/tornado-6.2-cp37-abi3-macosx_10_9_universal2.whl
traitlets @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/c3/bd/09/86f11131c70cd77c8114c13f1d9a117f78ba14d74a2e0bd8de81d72ad1/traitlets-5.6.0-py3-none-any.whl
urllib3 @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/0c/77/f9/b449e07d3b668a0706728efd6a7f0a40e7101d2e962853f26d0c062aff/urllib3-1.26.13-py2.py3-none-any.whl
wcwidth @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/f1/2c/b7/d07af82a7caf20dd582cb8799baa7afd56c6240109e527ee2a904b43e4/wcwidth-0.2.5-py2.py3-none-any.whl
webencodings @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/2c/71/d6/0bb3633964388ed16be6b71327528e3acf005b646a54e65547041575ab/webencodings-0.5.1-py2.py3-none-any.whl
websocket-client @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/86/7d/9b/6832819a43eac0f1c9c6e3e28685ec13710d82cfdfd2ba4cb25fb88d61/websocket_client-1.4.2-py3-none-any.whl
Werkzeug @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/28/6a/82/10f659db5fd9fd23f295caf59cb7e0b81881c95f138922806109110343/Werkzeug-2.2.2-py3-none-any.whl
widgetsnbextension @ file:///Users/markjtaylorroberts/Library/Caches/pypoetry/artifacts/75/03/62/f7c5248eedf4ded41f3a5aeea817902310bb21e5c9666620f28294ca72/widgetsnbextension-4.0.3-py3-none-any.whl
